{
  "presets": ["es2015"],
  "plugins": [
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "utils": "./src/utils",
        "constants": "./src/constants",
        "globals": "./src/globals",
        "library": "./src/tests/library"
      }
    }],
    "transform-object-rest-spread"
  ]
}